# List and its default functions

In [3]:
make_list = ["sai","kumar","patnaik",1,2,3,4,9,[4,5,2,8,9]]

In [4]:
make_list

['sai', 'kumar', 'patnaik', 1, 2, 3, 4, 9, [4, 5, 2, 8, 9]]

In [5]:
make_list[0]

'sai'

In [6]:
make_list.append("Learning on letsupgrade")

In [7]:
make_list

['sai',
 'kumar',
 'patnaik',
 1,
 2,
 3,
 4,
 9,
 [4, 5, 2, 8, 9],
 'Learning on letsupgrade']

In [8]:
make_list.remove("kumar")

In [9]:
make_list

['sai', 'patnaik', 1, 2, 3, 4, 9, [4, 5, 2, 8, 9], 'Learning on letsupgrade']

In [11]:
make_list.reverse()

In [12]:
make_list

['Learning on letsupgrade', [4, 5, 2, 8, 9], 9, 4, 3, 2, 1, 'patnaik', 'sai']

In [13]:
make_list2 = ["GIET UNIVERSITY","CSE"]

In [14]:
make_list.extend(make_list2)

In [15]:
make_list

['Learning on letsupgrade',
 [4, 5, 2, 8, 9],
 9,
 4,
 3,
 2,
 1,
 'patnaik',
 'sai',
 'GIET UNIVERSITY',
 'CSE']

In [17]:
len(make_list)

11

In [18]:
make_list.pop(1)

[4, 5, 2, 8, 9]

In [19]:
make_list

['Learning on letsupgrade',
 9,
 4,
 3,
 2,
 1,
 'patnaik',
 'sai',
 'GIET UNIVERSITY',
 'CSE']

 # Dictionary and its default functions

In [21]:
make_dict = {"name":"SaiKumar","gmail":"patnaiksk6@gmail.com","college":"GIET University"}

In [22]:
make_dict.get("name")

'SaiKumar'

In [23]:
make_dict.pop("college")

'GIET University'

In [24]:
make_dict

{'name': 'SaiKumar', 'gmail': 'patnaiksk6@gmail.com'}

In [26]:
make_dict.keys()

dict_keys(['name', 'gmail'])

In [27]:
make_dict.values()

dict_values(['SaiKumar', 'patnaiksk6@gmail.com'])

In [31]:
make_dict = {'name': 'SaiKumar', 'gmail': 'patnaiksk6@gmail.com'}

In [32]:
make_dict["Qualification"] = "B.Tech"

In [33]:
make_dict

{'name': 'SaiKumar',
 'gmail': 'patnaiksk6@gmail.com',
 'Qualification': 'B.Tech'}

# Sets and its default functions

In [45]:
make_set = {"sai kumar","letsupgrade",4,5,6,7,2,3}

In [46]:
make_set.add("2nd year")

In [47]:
make_set

{2, '2nd year', 3, 4, 5, 6, 7, 'letsupgrade', 'sai kumar'}

In [48]:
make_set2 = {"Engineer","sai kumar","cse","letsupgrade"}

In [49]:
print(make_set.difference(make_set2))

{2, 3, 4, 5, 6, 7, '2nd year'}

In [50]:
make_set.pop()

2

In [51]:
make_set

{'2nd year', 3, 4, 5, 6, 7, 'letsupgrade', 'sai kumar'}

In [52]:
x = make_set.isdisjoint(make_set2)

In [53]:
print(x)

False

In [54]:
y = make_set.union(make_set2)

In [55]:
print(y)

{3, 4, 5, 'letsupgrade', 6, 7, '2nd year', 'sai kumar', 'cse', 'Engineer'}

# Tuple and its default functions

In [56]:
make_tuple = ("name","roll","class","add")

In [58]:
print(make_tuple[3])

add

In [59]:
print(make_tuple[0:])

('name', 'roll', 'class', 'add')

In [60]:
print(make_tuple[:-1])

('name', 'roll', 'class')

In [61]:
print(make_tuple[-1:])

('add',)

In [62]:
make_tuple

('name', 'roll', 'class', 'add')

In [64]:
print(make_tuple[0:3])

('name', 'roll', 'class')

In [70]:
make_tuple = list(make_tuple2)

In [71]:
make_tuple2[1] = "Roll Number"

In [72]:
make_tuple = tuple(make_tuple2)

In [73]:
print(make_tuple)

('name', 'Roll Number', 'class', 'add')

In [74]:
len(make_tuple)

4

# Strings and its default functions

In [92]:
string = "sai kumar patnaik"

In [93]:
print(string.capitalize())

Sai kumar patnaik

In [96]:
string1 = "SAI KUMAR PATNAIK"

In [97]:
print(string1.casefold())

sai kumar patnaik

In [98]:
print(string1.lower())

sai kumar patnaik

In [99]:
print(string1[0:-8])

SAI KUMAR

In [100]:
string2 = "Good Morning,Good Afternoon"

In [101]:
print(string2.replace("Afternoon","Evening"))

Good Morning,Good Evening

In [106]:
string3 = "Hello, World!"
print(string3.split(","))

['Hello', ' World!']

In [107]:
print("Hello" in string3)

True

In [110]:
print(string3 + "  " + string2)

Hello, World!  Good Morning,Good Afternoon